.sidebar{
    height:90vh;
}
.sidebar-button{    
    width: 20px;
}
.open-panel {
    width: 17%;
    overflow:hidden;
    transition: 0.3s;
}
.close-panel {
    width: 0px;
    min-width: 0px;
    overflow:unset;
    transition: 0.3s;
}
.expand-panel{
    width: 99.5%;
    transition: 0.3s;
}
.collapse-panel{
    width: 82.5%;
    transition: 0.3s;
}
.page-section {
    border: solid 1px #ccc;
    padding: .25rem;
    background-color: #fff;
}

.refreshRotate {
    animation: rotate .4s;
}