.dummy{
	color : black;
}

.timeline-main-container {
  border-left: 5px solid red;
  margin-left: 50px;
}

.xyz::before {
  content: "";
  border-radius: 50%;
  height: 20px; /* Changed */
  width: 20px; /* Changed */
  background-color: blue;
  position: absolute; /* Added */
  left: -63px; /* Added */
}

.xyz {
  margin-left: 50px;
  position: relative; /* Added */
}